.header,
.text,
.footer {
  text-align: center;
  padding: 10px;
}

.header {
  background-color: lightsalmon;
  font-weight: bolder;
  font-size: xx-large;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.image-item {
  margin: 20px;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  margin: auto; /* magic! */

  transform-origin: center;
  transition: transform 5s;
  transform: scale(5) rotate(25deg);
}

/* TODO door student, opgave 2c */
.image-item img {
}

/* TODO door student, opgave 2b */
